<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = '../styles4.css'>
    <title>Rishyendra Medamanuri Portfolio</title>
</head>
<body>
    <div class="navbar">
        <a href="index.html"><strong>Rishyendra Medamanuri</strong></a>
        <a href="index.html">Home</a>
        <a href="about.html">Education</a>
        <a href="projects.html">Projects</a>
        <a href="honors.html">Honors</a>
        <a href="contact.html">Contact</a>
    </div>
    <div class="project-row">
        <div class="project-tile">
            <div class="project-title">
                MACHINE MATCH: A RECOMMENDATION TOOL FOR OPEN SCIENCE
            </div>
            <div class="project-img">
                <img src="../images/nasa.png">
            </div>
            <div class="project-body">
                "MACHINE MATCH" is a web app leveraging 
                machine learning models to provide 
                personalized open-source project 
                recommendations. Built using OpenAI's 
                Large Language Models, it enables aspiring 
                scientists to discover relevant projects, 
                fostering inclusivity and diversity in 
                scientific contributions. <br><br>
            </div>
            <div class="project-link">
                <div>
                    <a href="https://www.spaceappschallenge.org/2023/find-a-team/unicorns/?tab=project" target="_blank">Project Info</a>
                </div>
                <div>
                    <a href="https://github.com/ganning127/nasa-hackathon-unicorns" target="_blank">GitHub</a>
                </div>
                <div>
                    <a href="https://youtu.be/iPg206qmrJg" target="_blank">Demo Video</a>
                </div>
            </div>
        </div>
        <div class="project-tile">
            <div class="project-title-w">
                &#x1F3C6; Academatch | Databricks Hackathon Award Winner
            </div>
            <div class="project-img">
                <img src="../images/academatch-low-resolution-logo-color-on-transparent-background.png">
            </div>
            <div class="project-body">
                Crafted for UNC-based research, 
                Academatch streamlines topic discovery 
                for students using DistilBERT embeddings. 
                Awarded an Honorable Mention in a 
                Databricks hackathon, it champions 
                inclusivity in academia by broadening 
                access to varied research domains. <br><br><br>
            </div>
            <div class="project-link">
                <a href="https://devpost.com/software/academatch?ref_content=my-projects-tab&ref_feature=my_projects" target="_blank">Project Info</a>
                <a href="https://github.com/PranavNarala1/DataBricksHackathon" target="_blank">GitHub</a>
                <a href="https://youtu.be/cwIIsIiMbEA" target="_blank">Demo Video</a>
            </div>
        </div>
        <div class="project-tile">
            <div class="project-title">
                Policy2Pollution
            </div>
            <div class="project-img">
                <img src="../images/policy2pollution.png">
            </div>
            <div class="project-body">
                Addressing the urgency of climate change, 
                Policy2Pollution empowers users to explore 
                the tangible effects of environmental 
                policies on global pollution levels. Built 
                on data-driven decision-making and 
                leveraging Google Cloud services, the 
                platform offers interactive maps, bridging 
                the gap between policy actions and their 
                environmental impact.
            </div>
            <div class="project-link">
                <a href="https://devpost.com/software/policy2pollution?ref_content=my-projects-tab&ref_feature=my_projects" target="_blank">Project Info</a>
                <a href="https://youtu.be/BnkOPGn9xIM" target="_blank">GitHub</a>
                <a href="https://github.com/PranavNarala1/Atlas-Madness-Hackathon" target="_blank">Demo Video</a>
            </div>
        </div>
    </div>
    <div class="project-row">
        <div class="project-tile">
            <div class="project-title">
                Analytix
            </div>
            <div class="project-img">
                <img src="../images/analytix.jpg">
            </div>
            <div class="project-body">
                Utilizing Tableau dashboards, Analytix is 
                a dynamic online platform that offers 
                users an interactive map to visualize the 
                diversity index scores for racial and age 
                demographics across various U.S. locations.
                 This innovative tool provides insightful 
                perspectives, enhancing understanding and 
                fostering awareness about the diversity 
                landscape within different communities. 
                <br>
            </div>
            <div class="project-link">
                <div>
                    <a href="https://rishyendra333.github.io/Analytix/" target="_blank">Project Site</a>
                </div>
                <div>
                    <a href="https://github.com/rishyendra333/Analytix" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-tile">
            <div class="project-title">
                Brain Tumor Classification
            </div>
            <div class="project-img">
                <img src="../images/brain.png">
            </div>
            <div class="project-body">
                Brain Tumor Classification is a deep 
                learning project that aims to classify 
                brain MRI images into four categories: 
                glioma, meningioma, no tumor, and pituitary 
                tumor. The project uses a Convolutional 
                Neural Network (CNN) to achieve accurate 
                classification results. The optimized model 
                has over 92% accuracy. <br><br>
            </div>
            <div class="project-link">
                <a href="https://github.com/rishyendra333/BrainTumorClassification" target="_blank">GitHub</a>
            </div>
        </div>
        <div class="project-tile">
            <div class="project-title">
                Understanding the Influence of the 
                Behavioral Inhibition and Approach Systems 
                on Bipolar Disorder
            </div>
            <div class="project-img">
                <img src="../images/mentorship.png">
            </div>
            <div class="project-body">
                Utilizing R programming, I conducted 
                in-depth data analysis to explore the 
                impact of the BIS/BAS systems on bipolar 
                disorder. This research, conducted under 
                the mentorship of Dr. Youngstrom at 
                UNC-Chapel Hill, culminated in a 
                presentation at the North Carolina School 
                of Science and Mathematics research 
                symposium. <br><br>
            </div>
            <div class="project-link">
                <a href="https://github.com/rishyendra333/Mentorship-Research" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
    <div class="project-row">
        <div class="project-tile">
            <div class="project-title">
                iOS Expense Tracker App
            </div>
            <div class="project-img">
                <img src="../images/ios.png">
            </div>
            <div class="project-body">
                Introducing the Expense Tracker App, 
                designed to effortlessly monitor your 
                spending through an intuitive interface. 
                Developed using SwiftUI, this app allows 
                users to view summarized expenses, create 
                detailed transactions, and organize 
                spending categories. Currently in progress, 
                the app aims to seamlessly sync data with 
                MongoDB Realm, enabling cloud-based storage 
                and multi-device accessibility for a 
                seamless expense tracking experience. 
                <br>
            </div>
            <div class="project-link">
                <div>
                    <a href="https://github.com/rishyendra333/FinancialTracker" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-tile">
            <div class="project-title">
                Positive Triangles Game Theory: <br>Graph Theory Course Final Paper
            </div>
            <div class="project-img">
                <img src="../images/triangle.jpeg">
            </div>
            <div class="project-body">
                The "positive triangles game" is a game 
                where competitors take turns connecting 
                dots to form a triangle. This paper formulates 
                and proves conjectures using a graph theory 
                approach. The findings were presented to an 
                audience of dozens of individuals. 
                <br><br><br><br><br>
            </div>
            <div class="project-link">
                <a href="https://docs.google.com/document/d/1-kXpdV55L3E-jHIh9P7Hf5c3B45VyxW1/edit" target="_blank">Research Paper</a>
            </div>
        </div>
        <div class="project-tile">
            <div class="project-title">
                SuiteShare
            </div>
            <div class="project-img">
                <img src="../images/suiteshare.png">
            </div>
            <div class="project-body">
                Suiteshare revolutionizes bill splitting, 
                effortlessly distributing costs by 
                considering individual orders and tax 
                amounts. Featuring a comprehensive 
                financial history, it also boasts a 
                "loserboard" feature, encouraging users to 
                clear their debts promptly. This 
                application simplifies the complexities of 
                group expenses, making shared payments 
                hassle-free. <br><br><br>
            </div>
            <div class="project-link">
                <a href="https://github.com/prathampatel21/suiteshare" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
    <div class="project-row">
        <div class="project-tile">
            <div class="project-title">
                College Mathematics Journal Problem 1226
            </div>
            <div class="project-img">
                <img src="../images/math.jpeg">
            </div>
            <div class="project-body">
                The Inequality for Arithmetic and 
                Geometric Means, also known as the AM-GM 
                Inequality, states that for a list of 
                positive real numbers, the arithmetic 
                mean is greater than or equal to the 
                geometric mean. This theorem produces 
                powerful results and will play a pivotal 
                role in proving the Inequality posed in 
                problem 1226 in the Mathematical 
                Association of America Journal. 
                This solution was submitted to the College 
                Mathematics Journal. <br>
                <br>
            </div>
            <div class="project-link">
                <div>
                    <a href="https://github.com/rishyendra333/FinancialTracker" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-tile">
            <div class="project-title">
                College Mathematics Journal Problem 1230
            </div>
            <div class="project-img">
                <img src="../images/math2.png">
            </div>
            <div class="project-body">
                This paper explores how results from 
                computational resources used to generate 
                example cases of primitive Heronian 
                triangles with equivalent rectangles can 
                be used to examine relationships between 
                the side lengths of these triangles. From 
                these relationships, equations are derived 
                for the side lengths of these triangles to 
                prove that there are infinitely many of 
                these special triangles.
                <br><br><br>
            </div>
            <div class="project-link">
                <a href="https://docs.google.com/document/d/1-kXpdV55L3E-jHIh9P7Hf5c3B45VyxW1/edit" target="_blank">Research Paper</a>
            </div>
        </div>
        <div class="project-tile">
            <div class="project-title">
                Want to collaborate with me?
            </div>
            <div class="project-img">
                <img src="../images/construction.svg">
            </div>
            <div class="project-body">
                <br><br>
                Are you interested in collaborating 
                on an exciting project? Well, a potential 
                project in collaboration with you can 
                add the finishing touches to this site! 
                If you would like to collaborate, head 
                over to <a href="contact.html">contact</a>. 
                <br><br><br><br>
            </div>
            <div class="project-link">
                <a href="https://github.com/prathampatel21/suiteshare" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
</body>
</html>